<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dzqd.comondao.dao.DBInfoMapper" >
    <resultMap id="DBBaseInfoMap" type="com.dzqd.comondao.entity.DBInfoDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="db_name" property="dbName" jdbcType="VARCHAR" />
        <result column="db_ip" property="dbIp" jdbcType="VARCHAR" />
        <result column="db_port" property="dbPort" jdbcType="INTEGER" />
        <result column="db_user" property="dbUser" jdbcType="VARCHAR" />
        <result column="db_password" property="dbPasswd" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, db_name, db_port, db_user, db_password, db_ip
    </sql>

    <select id="getDBInfoByDBName" resultMap="DBBaseInfoMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM dbinfo
        WHERE
            db_name=#{dbName} and status=0
    </select>

    <select id="getDBInfoByID" resultMap="DBBaseInfoMap" parameterType="int">
        SELECT
        <include refid="Base_Column_List" />
        FROM dbinfo
        WHERE
        id=#{id} and status=0
    </select>

    <select id="getDBInfoByTenantID" resultMap="DBBaseInfoMap" parameterType="int">
        SELECT
        db.id id, db.db_name db_name, db.db_port db_port, db.db_user db_user, db.db_password db_password, db.db_ip db_ip
        FROM dbinfo db LEFT JOIN tenement t ON db.db_name=t.TENEMENT_DB
        WHERE
        t.id=#{tenantId} and db.status=0
    </select>
</mapper>